@import 'mixins.scss';
@import 'helpers.scss';
@import 'inspector.scss';

.restsplain {
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  h1, h2, h3, h4 {
    code {
      font-size: inherit;
    }
  }

  h1, h2 {
	margin-top: 0;
	overflow-wrap: break-word;
  }

  * {
    box-sizing: border-box;
  }

  &-no-data {
    @include padding;
  }

  a {
    cursor: pointer;
  }

  pre {
    max-width: 100%;
    overflow: auto;
  }

  .hljs {
    padding: 0;
  }

  .callout {
    @include padding;
    background: rgba(0,0,0,.025);

    & :first-child {
      margin-top: 0;
    }
    & :last-child {
      margin-bottom: 0;
    }
  }

  &-table-wrap {
    overflow: auto;
    max-width: 100%;
    margin: 20px 0;
  }

  &-pre {
    white-space: pre;
  }

  table {
    width: 100%;
  }

  th, td {
    vertical-align: top;
    text-align: left;
  }

  td {
    & :first-child { margin-top: 0; }
    & :last-child { margin-bottom: 0; }
  }

  dl {
    margin: 0;
    padding: 0;
  }
  dt {
    font-weight: bold;
    margin-bottom: 5px;
  }
  dd {
    margin-bottom: 5px;
    margin-left: 30px;
  }
  dd + dt {
    margin-top: 10px;
  }

  &-link-data {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 60%;
    color: rgba(255,255,255,.6);
  }

  &-sidebar {
    margin: 0;
    background: #fff;
    min-width: 300px;
    width: 25%;
    flex: 1;
    padding-bottom: 50px;
  }

  &-header {
    @include padding;

    h1 {
      margin: 0;
      img {
        height: 2.5rem;
        margin: 0 10px 0 0;
        width: auto;
        display: inline;
        vertical-align: top;
        + span {
          @extend .screen-reader-text;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }

  &-menu {
    @include padding(0 30px 30px, 0 15px 15px);
    background: #fff;

    .active {
      font-weight: bold;
    }

    ul {
      list-style: none;
      margin: 0 0 30px;
      padding: 0;
    }

    li {
      margin-left: 10px;
	  padding: 0;
	  overflow-wrap: break-word;
    }
  }

  &-colophon {
    @include padding;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: 75%;
    color: #aaa;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &-embedded {
    .restsplain-colophon {
      display: none;
    }
  }

  &-docs {
    min-width: 320px;
    width: 45%;
    flex: 3;
    @include padding;

    pre {
      background: rgba(0,0,0,.8);
      padding: 15px;
    }

    > h2 {
      margin-top: 3rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-page-content {
    h2 {
      margin-top: 40px;
    }
    h3 {
      margin: 20px 0;
    }
  }

  &-endpoint {

    &-method-switcher a {
      font-size: 150%;
      margin-right: 10px;
      &.active {
        font-weight: bold;
        color: inherit;
        text-decoration: none;
      }
      & + a:before {
        content: ' / ';
        color: #ddd;
        cursor: default;
        display: inline-block;
        margin-right: 10px;
      }
    }

    &-data {
      position: relative;
      margin-bottom: 100px;

      h2 { display: none; }
    }

    &-links {
      margin-bottom: 40px;
    }

    &-parameters {
      h3 {
        margin-bottom: 0;
      }
    }

    &-url-parameters {
      h4 {
        margin-bottom: 0;
      }
    }

    &-code {
      nav {
        margin: 10px 0;
      }

      nav a {
        margin: 0 10px 0 0;
        padding: 5px 20px;
        display: inline-block;
        color: inherit;
        background: rgba(0,0,0,.3);
        font-size: 80%;
        text-transform: uppercase;
      }

      nav a.active {
        font-weight: bold;
        background: rgba(0,0,0,.1);
      }
    }
  }

  &-response {
    min-width: 320px;
    width: 30%;
    flex: 2;
    @include padding;
    background: rgba(0,0,0,.8);
    color: #fcfcfc;

    input {
      font-size: inherit;
      width: 100%;
	  border: 0;
	  padding: 0.5rem;

      &.restsplain-response-base {
        display: block;
        padding-bottom: 0;
        position: relative;
      }
    }

    &-link:after {
      content: '👉';
      margin-left: 5px;
      display: inline-block;
    }

    h2, p {
      color: inherit;
    }

    pre {
      background: none;
      padding: 0;
      width: 100%;
      overflow: auto;
      max-height: calc(100vh - 12rem);
    }

    pre code {
      display: block;
      background: none;
      padding: 0;
      margin: 0;
    }

    nav {
      margin: 10px 0;
    }

    nav a {
      margin: 0 10px 0 0;
      padding: 5px 20px;
      display: inline-block;
      color: inherit;
      background: rgba(255,255,255,.3);
      font-size: 80%;
      text-transform: uppercase;
    }

    nav a.active {
      font-weight: bold;
      background: rgba(255,255,255,.1);
    }

    .restsplain-endpoint-links {
      h3 {
        display: none;
      }

      a, a:hover, a:visited {
        color: #E6DB75;
      }
    }

    &-instructions {
      margin: 20px 0;
    }
  }
}
